table{
    margin: 12% auto;
    width: 20%;
    height: 240px;
}

td{
    width: 20%;
    height: 40px;
    text-align: center;
    font-weight: bold;
}

.result{
    text-align: right;
    padding-right: 5%;
}

td:hover{
    cursor: pointer;
}


table,tr,td{
    border: 1px solid black;
}

.vide{
    column-span: all;
}

.vide:hover{
    cursor: default;
}